<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.puppetmaster123.devlop_browse">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AllAlgorithms" />
        <activity android:name=".SelectionSortAct" />
        <activity android:name=".SelectionCode" />
        <activity android:name=".InsertionSort" />
        <activity android:name=".InsertionCode" />
        <activity android:name=".InsertionE1" />
        <activity android:name=".InsertionE2" />
        <activity android:name=".MergeSort" />
        <activity android:name=".MergeCode" />
        <activity android:name=".MergeE1" />
        <activity android:name=".LinearSearch" />
        <activity android:name=".LinearE1" />
        <activity android:name=".LinearCode" />
        <activity android:name=".BinarySearch" />
        <activity android:name=".BinaryE1" />
        <activity android:name=".BinaryCode" />
        <activity android:name=".JumpSearch" />
        <activity android:name=".JumpE1" />
        <activity android:name=".JumpCode" />
        <activity android:name=".VectorDS" />
        <activity android:name=".VectorCode" />
        <activity android:name=".LinkedListDS" />
        <activity android:name=".LinkedListCode" />
        <activity android:name=".DoubleDS" />
        <activity android:name=".DoubleCode" />
        <activity android:name=".QuickRefActivity" />
        <activity android:name=".Contact" />
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"></activity>
    </application>

</manifest>